@use "@styles/utils/variables.scss" as *;

.p-container {
    width: 100%;
    height: 100%;
    // background-color: #1A1A1A;
    display: grid;
    grid-template-columns: auto;

    .p-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100%;
        .left {
            background-color: #1A1A1A;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            // will-change: transform;
            .top{
                width: 100%;
                height: 38%;
                min-height: 200px;
                max-height: 413px;
                margin-bottom: auto;
                background-color: #333333;
                border-left: 3px solid $primary;
                border-bottom: 3px solid $primary;
                border-top: 3px solid $primary;
            }
        }

        .right {
            background-color: #1A1A1A;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            // will-change: transform;
            .top{
                width: 100%;
                height: 38%;
                min-height: 200px;
                max-height: 413px;
                margin-bottom: auto;
                background-color: #333333;
                border-right: 3px solid $primary;
                border-bottom: 3px solid $primary;
                border-top: 3px solid $primary;
            }
        }
    }
}