.main-container{
    width: 100%;
    height: auto;
    min-height: 100svh;
    min-height: 100vh;
    display: grid;
    position: relative;
    z-index: 1;
    .cta-container{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        z-index: 100;
    }
}