@use "@styles/utils/variables.scss" as *;

.tc-container {
  width: 100%;
  height: auto;
  min-height: 100svh;
  min-height: 100vh;
  background: linear-gradient(90deg,
      rgba(14, 14, 14, 0.74) 0%,
      rgba(0, 0, 0, 0.493) 100%);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

  .terms {
    max-width: 867px;
    width: 100%;
    height: 100%;
    max-height: 630px;
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 40px;
    border: 1px solid $text-muted;
    border-radius: 12px;
    .heading {
      margin-bottom: 16px;
      h4 {
        font-family: $font-primary;
        font-weight: 400;
        color: $primary;
        font-size: 40px;
      }
    }
    .desc{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      // justify-content: space-between;
      p{
        font-size: 20px;
        line-height: 1.7;
        font-family: $font-body;
        font-weight: 600;
        color: $text-muted;
        text-transform: capitalize;
      }
      .space{
        display: inline-block;
        width: 100%;
        height: 16px;
      }
    }

    .agree {
      margin-bottom: auto;
      .checkbox-container {
        display: flex;
        align-items: center;
        // gap: 12px;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        .circular-checkbox {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;

          // margin-right: 16px;
        }

        .checkmark {
          height: 50px;
          width: 50px;
          min-width: 50px;
          background-color: transparent;
          border: 3px solid $primary;
          border-radius: 50%;
          position: relative;
          transition: all 0.3s ease;
          display: inline-block;
          &:after {
            content: "";
            position: absolute;
            display: none;
            left: 27%;
            top: 46%;
            width: 12px;
            height: 24px;
            border: solid #4EFC00;
            border-width: 0 4px 4px 0;
            transform: rotate(45deg) translate(-50%, -50%);
          }
        }

        .circular-checkbox:checked~.checkmark {
          // background-color: #fff;

          &:after {
            display: block;
          }
        }

        .agree-text {
          color: $text-muted;
          font-size: 20px;
          font-weight: 500;
          padding-left: 20px;
          font-family: $font-body;
          text-transform: capitalize;
        }
      }
    }
    .submit-row{
      display: flex;
      justify-content: center;
      .submit{
        padding: 12px 20px;
        border: 1px solid $primary;
        box-shadow: 0px 2px 4px 1px  #50fc0083;
        font-size: 36px;
        font-weight: 500;
        font-family: $font-primary;
        color: $primary;
        text-transform: capitalize;
        background-color: $background-modal;
        border-radius: 12px;
        line-height: 1;
        transition: color 0.2s ease-out 0.5ms,  background-color 0.2s ease-out 0.5ms, box-shadow 0.5s ease-out 0.5ms;
        &:hover{
          color: $background;
          background-color: $primary;
          box-shadow: 0px 2px 4px 5px  #50fc0083;
        }

        &.disabled{
          opacity: 0.4;
          pointer-events: none;
          box-shadow: 0px 2px 4px 1px  #50fc0000;
        }
      }
    }
  }
}

@media screen and (max-width:1000px){
  .tc-container {
    width: 100%;
    height: auto;
    min-height: 100svh;
    min-height: 100vh;
    background: linear-gradient(90deg,
        rgba(14, 14, 14, 0.74) 0%,
        rgba(0, 0, 0, 0.493) 100%);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .terms {
      max-width: 867px;
      width: 100%;
      height: 100%;
      max-height: 1000px;
      display: flex;
      flex-direction: column;
      background-color: $background;
      padding: 20px;
      border: 1px solid $text-muted;
      border-radius: 12px;
      .heading {
        margin-bottom: 16px;
        h4 {
          font-family: $font-primary;
          font-weight: 400;
          color: $primary;
          font-size: 18px;
        }
      }
      .desc{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        // justify-content: space-between;
        p{
          font-size: 16px;
          line-height: 1.7;
          font-family: $font-body;
          font-weight: 600;
          color: $text-muted;
          text-transform: capitalize;
        }
        .space{
          display: inline-block;
          width: 100%;
          height: 10px;
        }
      }
  
      .agree {
        margin-bottom: 16px;
        .checkbox-container {
          display: flex;
          align-items: center;
          // gap: 12px;
          cursor: pointer;
          user-select: none;
          -webkit-tap-highlight-color: transparent;
          .circular-checkbox {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
  
            // margin-right: 16px;
          }
  
          .checkmark {
            height: 30px;
            width: 30px;
            min-width: 30px;
            background-color: transparent;
            border: 3px solid $primary;
            border-radius: 50%;
            position: relative;
            transition: all 0.3s ease;
            display: inline-block;
            &:after {
              content: "";
              position: absolute;
              display: none;
              left: 27%;
              top: 46%;
              width: 8px;
              height: 12px;
              border: solid #4EFC00;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg) translate(-50%, -50%);
            }
          }
  
          .circular-checkbox:checked~.checkmark {
            // background-color: #fff;
  
            &:after {
              display: block;
            }
          }
  
          .agree-text {
            color: $text-muted;
            font-size: 20px;
            font-weight: 500;
            padding-left: 16px;
            font-family: $font-body;
            text-transform: capitalize;
          }
        }
      }
      .submit-row{
        display: flex;
        justify-content: center;
        .submit{
          padding: 12px 20px;
          border: 1px solid $primary;
          box-shadow: 0px 2px 4px 1px  #50fc0083;
          font-size: 24px;
          font-weight: 500;
          font-family: $font-primary;
          color: $primary;
          text-transform: capitalize;
          background-color: $background-modal;
          border-radius: 12px;
          line-height: 1;
          transition: color 0.2s ease-out 0.5ms,  background-color 0.2s ease-out 0.5ms, box-shadow 0.5s ease-out 0.5ms;
          &:hover{
            color: $background;
            background-color: $primary;
            box-shadow: 0px 2px 4px 5px  #50fc0083;
          }
  
          &.disabled{
            opacity: 0.4;
            pointer-events: none;
            box-shadow: 0px 2px 4px 1px  #50fc0000;
          }
        }
      }
    }
  }
}