@use "@styles/utils/variables.scss" as *;
.succ-container{
    width: 100%;
    height: auto;
    min-height: 100svh;
    min-height: 100vh;
    background: linear-gradient(90deg,
        rgba(14, 14, 14, 0.74) 0%,
        rgba(0, 0, 0, 0.493) 100%);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .succ-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .text{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5{
                font-size: 3.33vw;
                font-weight: 500;
                font-family: $font-body;
                color: $text-color;
                text-align: center;
                text-transform: capitalize;
                margin-bottom: 16px;
            }
            p{
                font-size: 20px;
                width: 50%;
                text-align: center;
                color: $text-muted;
            }
        }
        .circ{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            box-shadow: 0px 0px 8px 4px #4EFC00;
            &.boobooer{
                box-shadow: 0px 0px 8px 4px #fc0000;
                background-color: #fc5c00;
            }
            img{
                width: 75px;
                height: 75px;
                object-fit: contain;
            }
        }
    }
}

@media screen and (max-width:1250px) {
    .succ-container{
        width: 100%;
        height: auto;
        min-height: 100svh;
        min-height: 100vh;
        background: linear-gradient(90deg,
            rgba(14, 14, 14, 0.74) 0%,
            rgba(0, 0, 0, 0.493) 100%);
        backdrop-filter: blur(15px);
        display: flex;
        justify-content: center;
        align-items: center;
        .succ-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .text{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                h5{
                    font-size: 36px;
                    font-weight: 500;
                    font-family: $font-body;
                    color: $text-color;
                    text-align: center;
                    text-transform: capitalize;
                }
                p{
                    font-size: 20px;
                    width: 50%;
                    text-align: center;
                    color: $text-muted;
                }
            }
            .circ{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                background-color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px;
                box-shadow: 0px 0px 8px 4px #4EFC00;
                img{
                    width: 75px;
                    height: 75px;
                    object-fit: contain;
                }
            }
        }
    }
}

.boobooer{
    box-shadow: 0px 0px 8px 4px #fc0000;
    background-color: #fc0000;
}