@use "@styles/utils/variables.scss" as *;

.t-container {
    width: 100%;
    height: 100%;
    min-height: 100svh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13vh 10.42vw;
    background: linear-gradient(90deg,
            rgba(14, 14, 14, 0.5) 0%,
            rgba(0, 0, 0, 0.212) 100%);
    backdrop-filter: blur(5px);
    
    .t-header {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        .t-heading {
            width: 100%;
            margin-bottom: 16px;
            h1 {
                font-size: 40px;
                font-weight: 700;
                color: $primary;
                font-family: $font-body;
                text-align: center;
            }
        }
        .t-desc{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                color: $text-muted;
                font-family: $font-body;
                font-weight: 700;
                font-size: 24px;
                width: 50%;
                text-align: center;
            }
        }}

        .t-wrapper{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .l-box{
                width: 100%;
                height: 100%;
                max-height: 571px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $primary;
                background-color: $background;
                flex-direction: column;
                border-radius: 12px;
                margin-right: 24px;
                transition: background-color 0.5s ease-in-out 0.5ms;
                flex: 1;
                .center{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    .icon{
                        width: 70px;
                        height: 70px;
                        margin-bottom: 16px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    .text{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        p{
                            color: $text-color;
                            font-family: $font-body;
                            font-weight: 700;
                            font-size: 24px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 11vh;
                    transition: filter 0.5s ease-in-out 0.5ms;
                    p{
                        font-family: $font-primary;
                        font-weight: 400;
                        color: $primary;
                        font-size: 40px;
                        text-align: center;
                        transition: filter 0.5s ease-in-out 0.5ms;
                    }
                }
                &:hover{
                    background-color: $primary;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 70px;
                            height: 70px;
                            margin-bottom: 16px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;  
                                filter: invert(0) brightness(4.5);
                                -webkit-filterfilter: invert(0) brightness(4.5);
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 24px;
                                text-align: center;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 11vh;
                        filter: invert(1) brightness(0);
                        -webkit-filter: invert(1) brightness(0);
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 40px;
                            text-align: center;
                            filter: invert(0) brightness(4.5);
                            -webkit-filter: invert(0) brightness(4.5);
                        }
                    }
                }
            }
            .r-box{
                width: 100%;
                height: 100%;
                max-height: 571px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid $primary;
                background-color: $background;
                flex-direction: column;
                border-radius: 12px;
                transition: background-color 0.5s ease-in-out 0.5ms;
                flex: 1;
                .center{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: fit-content;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    .icon{
                        width: 80px;
                        height: 70px;
                        margin-bottom: 16px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    .text{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            color: $text-color;
                            font-family: $font-body;
                            font-weight: 700;
                            font-size: 24px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 11vh;
                    transition: filter 0.5s ease-in-out 0.5ms;
                    p{
                        font-family: $font-primary;
                        font-weight: 400;
                        color: $primary;
                        font-size: 40px;
                        text-align: center;
                        transition: filter 0.5s ease-in-out 0.5ms;
                    }
                }
                &:hover{
                    background-color: $primary;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 80px;
                            height: 70px;
                            margin-bottom: 16px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;  
                                filter: invert(0) brightness(4.5);
                                -webkit-filter: invert(0) brightness(4.5);
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 24px;
                                text-align: center;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 11vh;
                        filter: invert(1) brightness(0);
                        -webkit-filter: invert(1) brightness(0);
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 40px;
                            text-align: center;
                            filter: invert(0) brightness(4.5);
                            -webkit-filter: invert(0) brightness(4.5);
                        }
                    }
                }
            }

        }
    }
@media screen and (max-width:1250px) {
    .t-container {
        width: 100%;
        height: 100%;
        min-height: 100svh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px;
        background: linear-gradient(90deg, rgb(14 14 14) 0%, rgb(0 0 0 / 62%) 100%);
        backdrop-filter: blur(5px);
    
        .t-header {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 32px;
            .t-heading {
                width: 100%;
                margin-bottom: 16px;
                h1 {
                    font-size: 32px;
                    font-weight: 700;
                    color: $primary;
                    font-family: $font-body;
                    text-align: left;
                }
            }
            .t-desc{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                p{
                    color: $text-muted;
                    font-family: $font-body;
                    font-weight: 700;
                    font-size: 16px;
                    width: 100%;
                    text-align: left;
                }
            }}
    
            .t-wrapper{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .l-box{
                    width: 100%;
                    height: 100%;
                    max-height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $primary;
                    background-color: $background;
                    flex-direction: column;
                    border-radius: 12px;
                    margin-right: 0;
                    margin-bottom: 32px;
                    transition: background-color 0.5s ease-in-out 0.5ms;
                    flex: 1;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 40px;
                            height: 40px;
                            margin-bottom: 12px;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 16px;
                                text-align: center;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 20px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    &:hover{
                        background-color: $primary;
                        .center{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: fit-content;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            .icon{
                                width: 40px;
                                height: 40px;
                                margin-bottom: 12px;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;  
                                    filter: invert(0) brightness(4.5);
                                    -webkit-filterfilter: invert(0) brightness(4.5);
                                }
                            }
                            .text{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    color: $text-color;
                                    font-family: $font-body;
                                    font-weight: 700;
                                    font-size: 16px;
                                    text-align: center;
                                    filter: invert(1) brightness(0);
                                    -webkit-filter: invert(1) brightness(0);
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            p{
                                font-family: $font-primary;
                                font-weight: 400;
                                color: $primary;
                                font-size: 20px;
                                text-align: center;
                                filter: invert(0) brightness(4.5);
                                -webkit-filter: invert(0) brightness(4.5);
                            }
                        }
                    }
                }
                .r-box{
                    width: 100%;
                    height: 100%;
                    max-height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $primary;
                    background-color: $background;
                    flex-direction: column;
                    border-radius: 12px;
                    transition: background-color 0.5s ease-in-out 0.5ms;
                    flex: 1;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 50px;
                            height: 40px;
                            margin-bottom: 16px;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 16px;
                                text-align: center;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 20px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    &:hover{
                        background-color: $primary;
                        .center{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: fit-content;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            .icon{
                                width: 50px;
                                height: 40px;
                                margin-bottom: 12px;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;  
                                    filter: invert(0) brightness(4.5);
                                    -webkit-filter: invert(0) brightness(4.5);
                                }
                            }
                            .text{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    color: $text-color;
                                    font-family: $font-body;
                                    font-weight: 700;
                                    font-size: 16px;
                                    text-align: center;
                                    filter: invert(1) brightness(0);
                                    -webkit-filter: invert(1) brightness(0);
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            p{
                                font-family: $font-primary;
                                font-weight: 400;
                                color: $primary;
                                font-size: 20px;
                                text-align: center;
                                filter: invert(0) brightness(4.5);
                                -webkit-filter: invert(0) brightness(4.5);
                            }
                        }
                    }
                }
    
            }
        }
}
@media screen and (max-width:768px) {
    .t-container {
        width: 100%;
        height: 100%;
        min-height: 100svh;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 20px;
        background: linear-gradient(90deg, rgb(14 14 14) 0%, rgb(0 0 0 / 62%) 100%);
        backdrop-filter: blur(5px);
    
        .t-header {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-bottom: 32px;
            .t-heading {
                width: 100%;
                margin-bottom: 16px;
                h1 {
                    font-size: 32px;
                    font-weight: 700;
                    color: $primary;
                    font-family: $font-body;
                    text-align: left;
                }
            }
            .t-desc{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                p{
                    color: $text-muted;
                    font-family: $font-body;
                    font-weight: 700;
                    font-size: 16px;
                    width: 100%;
                    text-align: left;
                }
            }}
    
            .t-wrapper{
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .l-box{
                    width: 100%;
                    height: 100%;
                    max-height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $primary;
                    background-color: $background;
                    flex-direction: column;
                    border-radius: 12px;
                    margin-right: 0;
                    margin-bottom: 32px;
                    transition: background-color 0.5s ease-in-out 0.5ms;
                    flex: 1;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 40px;
                            height: 40px;
                            margin-bottom: 12px;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 16px;
                                text-align: center;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 20px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    &:hover{
                        background-color: $primary;
                        .center{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: fit-content;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            .icon{
                                width: 40px;
                                height: 40px;
                                margin-bottom: 12px;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;  
                                    filter: invert(0) brightness(4.5);
                                    -webkit-filterfilter: invert(0) brightness(4.5);
                                }
                            }
                            .text{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    color: $text-color;
                                    font-family: $font-body;
                                    font-weight: 700;
                                    font-size: 16px;
                                    text-align: center;
                                    filter: invert(1) brightness(0);
                                    -webkit-filter: invert(1) brightness(0);
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            p{
                                font-family: $font-primary;
                                font-weight: 400;
                                color: $primary;
                                font-size: 20px;
                                text-align: center;
                                filter: invert(0) brightness(4.5);
                                -webkit-filter: invert(0) brightness(4.5);
                            }
                        }
                    }
                }
                .r-box{
                    width: 100%;
                    height: 100%;
                    max-height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $primary;
                    background-color: $background;
                    flex-direction: column;
                    border-radius: 12px;
                    transition: background-color 0.5s ease-in-out 0.5ms;
                    flex: 1;
                    .center{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: fit-content;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        .icon{
                            width: 50px;
                            height: 40px;
                            margin-bottom: 16px;
                            transition: filter 0.5s ease-in-out 0.5ms;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                        .text{
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                color: $text-color;
                                font-family: $font-body;
                                font-weight: 700;
                                font-size: 16px;
                                text-align: center;
                                transition: filter 0.5s ease-in-out 0.5ms;
                            }
                        }
                    }
                    .bottom{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        transition: filter 0.5s ease-in-out 0.5ms;
                        p{
                            font-family: $font-primary;
                            font-weight: 400;
                            color: $primary;
                            font-size: 20px;
                            text-align: center;
                            transition: filter 0.5s ease-in-out 0.5ms;
                        }
                    }
                    &:hover{
                        background-color: $primary;
                        .center{
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: fit-content;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            .icon{
                                width: 50px;
                                height: 40px;
                                margin-bottom: 12px;
                                filter: invert(1) brightness(0);
                                -webkit-filter: invert(1) brightness(0);
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;  
                                    filter: invert(0) brightness(4.5);
                                    -webkit-filter: invert(0) brightness(4.5);
                                }
                            }
                            .text{
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    color: $text-color;
                                    font-family: $font-body;
                                    font-weight: 700;
                                    font-size: 16px;
                                    text-align: center;
                                    filter: invert(1) brightness(0);
                                    -webkit-filter: invert(1) brightness(0);
                                }
                            }
                        }
                        .bottom{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 40px;
                            filter: invert(1) brightness(0);
                            -webkit-filter: invert(1) brightness(0);
                            p{
                                font-family: $font-primary;
                                font-weight: 400;
                                color: $primary;
                                font-size: 20px;
                                text-align: center;
                                filter: invert(0) brightness(4.5);
                                -webkit-filter: invert(0) brightness(4.5);
                            }
                        }
                    }
                }
    
            }
        }
}