@use "@styles/utils/_variables.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

button, button:active, button:hover, button:focus {
  all: unset;
  cursor: pointer;
}
html, body {
  height: 100%;
  background-color: $background;
  width: 100%;
}